@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$main-txt-color: hsl(0, 0%, 100%);
$light-red: hsl(353, 100%, 62%);

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $main-txt-color;
    border: $main-txt-color 1px solid;

    &-active {
      background: $main-txt-color;
      color: hsl(13, 100%, 72%);
    }

    &:hover {
      background: $main-txt-color;
      color: hsl(13, 100%, 72%);
    }
  }
  &-primary {
    @extend %btn-shared;
    color: rgb(143, 143, 143);
    border: none;

    &-active {
      color: $main-txt-color;
      background: hsl(13, 100%, 72%);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  padding: 3rem 4rem;
}
.logo {
  width: 6.5rem;
  height: 3.5rem;
}

.txt-align {
  text-align: center;
}

.border {
  margin-top: 2rem;
  border-top: 1.5px rgb(235, 235, 235) solid;
}

#header {
  background: hsl(353, 100%, 62%) 40% 50% url('../img/bg-pattern-intro.svg')
    no-repeat;

  height: 550px;
  border-bottom-left-radius: 12rem;

  // Navbar
  .navbar {
    display: flex;
    justify-content: space-between;

    .showmenu {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      background-color: white;
      padding: 6rem;
      border-radius: 5px;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
      z-index: 10;
    }
    .hidden {
      display: none;
    }

    .nav-container {
      border-radius: 1rem;
      width: 25rem;
      text-align: center;
      padding: 2rem;

      .nav-list {
        .nav-item {
          padding: 1.2rem;
          font-size: 1.6rem;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .arrow-rot {
          transform: rotate(180deg);
        }

        a {
          font-size: 1.6rem;
          line-height: 2;

          &:hover {
            text-decoration: underline;
          }
        }
        .toggle-menu {
          margin-top: 0;
          background: rgb(241, 241, 241);
          border-radius: 1rem;
        }
      }
    }

    .menu-btn {
      width: 2.5rem;
      height: 2rem;
      cursor: pointer;
      padding-top: 0.8rem;
    }
  }

  // Header Content
  .header-content {
    padding: 8rem 1.6rem;

    &-heading {
      font-size: 2.9rem;
      color: $main-txt-color;
      font-family: 'Overpass', sans-serif;
      font-weight: 600;
    }
    &-txt {
      font-size: 1.6rem;
      color: $main-txt-color;
      font-family: 'Overpass', sans-serif;
      font-weight: 400;
    }
  }
}

main {
  .section-heading {
    font-size: 2.8rem;
    font-family: 'Overpass', sans-serif;
    color: hsl(208, 49%, 24%);
  }

  .ilus-img {
    width: 100%;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: 'Ubuntu', sans-serif;
    color: hsl(207, 13%, 34%);
  }

  .section-b {
    background: hsl(237, 17%, 21%);
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;

    .section-heading {
      color: $main-txt-color;
    }

    p {
      color: hsl(240, 2%, 79%);
    }
  }
}

// Footer
#footer {
  background: hsl(240, 10%, 16%);
  border-top-right-radius: 12rem;

  .footer-content {
    .logo {
      margin-bottom: 3rem;
    }

    div {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 2rem;
        padding: 2rem 0;
        color: $main-txt-color;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
      }

      a {
        font-size: 1.8rem;
        padding: 1rem;
        color: hsl(240, 2%, 79%);
        font-family: 'Overpass', sans-serif;
      }
    }
  }
}

.big-screen {
  display: none;
}

@media screen and (min-width: 1100px) {
  .menu-btn {
    display: none;
  }

  .txt-align {
    text-align: left;
  }
  .section {
    &-a {
      display: flex;
      flex-direction: row-reverse;
      margin-left: 8rem;
    }

    &-content-txt {
      padding: 5rem;
    }
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
